.navbar {
    background: $darkgrey;
    color: $sandybrown;
    height: 6 * 12px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1700px) / 2);
    z-index: 10;
    position: relative;

    &__logo{
        cursor: pointer;
        color: $sandybrown;
        text-decoration: none;
        margin-left: 24px;
        @extend %align-center;
        &--img{
            height: 5 * 12px;
            width: 60px;
        }
    }
    &__bars{
        opacity: 0;

        @include tablet{
            color: $sandybrown;
            opacity: 1;
            position: absolute;
            top: 22px;
            right:20px;
            font-size: 2rem;
        }
    }

    &__menu{
        @extend %align-center;
        list-style: none;
        text-align: center;
        margin-right: 24px;

        @include tablet{
            display: none;
        }
        &--links{
            color: $grey;
            @extend %align-center;
            justify-content: center;
            text-decoration: none;
            padding: 0 1rem;

            &:hover{
                color: $orange;
                transition: $transition-parameters;
            }
        }

        #button{
            @extend %btn;
            margin-left: 16px;
        }

    }
}

